@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

/*

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin:0;
} 

*/
:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
  }

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin:0;
} 

.container{
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 100%;
    width:350px;
    margin-bottom: 30px;
}

.progress-container::before{
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress{
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: ease 400ms;
}

.circle{
    background-color: white;
    color: black;
    border: 3px solid var(--line-border-empty);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 400ms;
}

.circle.active {
    border: 3px solid var(--line-border-fill);
}

.btn{
    background-color: var(--line-border-fill);
    color:white;
    padding:8px 30px;
    border:0;
    border-radius: 5px;
    margin:5px;
    font-family: inherit;
    font-size:14px;
    cursor: pointer;
}

.btn:active{
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
  }